# Dependencies
node_modules/

# Environment variables
.env
SETUP_GUIDE.md
setup-netlify-env.sh
NETLIFY_ENV_SETUP.md

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Local Netlify folder
.netlify
